<section class="flex justify-center items-center h-[500px] bg-slate-200/35 dark:bg-gradient-to-r dark:from-slate-700 dark:to-slate-800">
    <div class="flex flex-row justify-center items-center w-full mx-16 dark:text-white">
        <h1>Hola</h1>
    </div>
</section>