---
import Github from '../icons/Github.astro'
import Gmail from '../icons/Gmail.astro'
import Instagram from '../icons/Instagram.astro'
import Linkedin from '../icons/Linkedin.astro'

import ContactWindowItem from './ContactWindowItem.astro'
---

<div class="fixed z-20 top-0 right-0 flex  bg-red-500">
        <ContactWindowItem href="#">
            <Github/>
        </ContactWindowItem>
        <ContactWindowItem href="#">
            <Gmail/>
        </ContactWindowItem>
        <ContactWindowItem href="#">
            <Instagram/>
        </ContactWindowItem>
        <ContactWindowItem href="#">
            <Linkedin/>
        </ContactWindowItem>
</div>