<section class="flex justify-evenly items-center mt-8">
    <div>
        <h2 class="text-2xl font-semibold">
            Estudiante de Programación e Innovación Tecnologica
        </h2><br />
        <h3 class="text-lg">Certificado en Desarrollo Web</h3><br />
        <h3 class="text-lg">Aspirante a Data Analyst</h3>
    </div>
    <img
        src="public/assets/foto-up.jpeg"
        alt="tizi-photo"
        class="size-64 bg-contain bg-center"
    />
</section>

<style>
    img {
        -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
        border-radius: 10px;
    }
</style>
