<section class="flex justify-evenly items-center mt-8">
    <div>
        <h2 class="text-xl font-semibold">Estudiante de Programación e Innovación Tecnologica</h2><br/>
        <h3 class="text-lg">Certificado en Desarrollo Web</h3>
        <h3 class="text-lg">Aspirante a Data Analyst</h3>
    </div>
    <img
        src="public/assets/img-perfil.png"
        alt="tizi-photo"
        class="size-64 bg-contain bg-center"
    />
</section>
