<nav class="flex flex-col items-center border-b-2 border-gray-400">
    <h1 class="text-8xl font-bold pt-3">Tiziano</h1>
    <ul class="flex justify-evenly items-center w-full pt-10 pb-4 text-2xl">
        <li class="hover:underline cursor-pointer"><a>Sobre mi</a></li>
        <li class="hover:underline cursor-pointer"><a>Proyectos</a></li>
        <li class="hover:underline cursor-pointer"><a>Blog</a></li>
        <li class="hover:underline cursor-pointer"><a>Contacto</a></li>
    </ul>
</nav>